.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 200px;  
  border: 1px solid green;
}

.link {
  text-decoration: none;
  border: 1px solid red;
  padding: .5rem;
}

.link:hover {
  background-color: red;
}