@use "./abstracts/" as *;

// Displays

.cart-wrapper,
.product-wrapper,
.left-cart,
.text-div,
.price-qty,
.checkout-container,
.total-card {
  display: flex;
}

// Flex Direction Column

.product-wrapper,
.text-div,
.checkout-container {
  flex-direction: column;
}

// Background Container Color and Border Radius

.product-wrapper,
.checkout-container {
  background-color: $secondary-bg;
  border-radius: 1rem;
}

.image-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .image-child {
    position: absolute;
    transition: 250ms ease-in-out;
    @media (min-width: 765px) {
      top: 40%;
    }
    .link-back {
      margin-top: 1rem;
      a {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
          -10px -10px 20px rgba(255, 255, 255, 0.5);
        border-radius: 1rem;
        padding: 1rem;
        background-color: $primary;
        color: $background;
      }
      a:hover {
        background-color: $accent;
      }
    }
    h1 {
      color: $accent;
      font-size: 1.5rem;
      text-shadow: 3px 5px 2px #474747;
      @media (min-width: 765px) {
        font-size: 3rem;
      }
    }
  }

  img {
    padding: 0;
    margin: 0;
    opacity: 0.5;
    width: 100%;
    border-radius: 1rem;
  }
}

.cart-wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  .product-wrapper {
    justify-content: center;
    background-color: $secondary-bg;
    margin: 1rem 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
      -10px -10px 20px rgba(255, 255, 255, 0.5);
    .left-cart {
      border-radius: 1rem;
      padding: 0.5rem;
      margin-bottom: 1rem;

      .img-div {
        .product-image {
          border-radius: 1rem;
          max-width: 125px;
        }
      }

      .text-div {
        .price-qty {
          justify-content: space-between;
          margin-top: auto;
          margin-left: auto;

          p {
            color: $primary;
            font-weight: 700;
            font-size: 1.35rem;
            padding: 0;
          }
        }
      }

      p {
        padding: 0.5rem 1rem;
      }
    }

    .qty-info {
      padding: 0.5rem 0.5rem;
      padding-bottom: 1rem;
    }
  }
}

.checkout-container {
  padding: 1rem;
  margin-bottom: 5rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
    -10px -10px 20px rgba(255, 255, 255, 0.5);

  h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .co-form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    label {
      font-weight: 500;
      text-transform: uppercase;
    }

    input {
      border: none;
      outline: none;
      padding: 0.5rem 0.2rem;
      margin: 0.5rem 0.15rem;
      width: 90%;
    }

    input:focus {
      border-radius: 0.2rem;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
      -10px -10px 20px rgba(255, 255, 255, 0.5);
    }

    .info-labels {
      display: flex;
    }

    .email-input {
      display: flex;
      flex-direction: column;

      input {
        width: 95%;
      }
    }
  }

  .payment-card {
    max-width: 320px;

    .co-payment {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      align-items: center;
      justify-content: center;
      gap: 0rem 3rem;
      
      .card-pt {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin-top: 1rem;
        padding: .5rem;
        min-width: 160px;
        border-radius: 1rem;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.45);

        .payment-img {
          width: 100%;
        }
        
      }
    }
  }
}

.total-card {
  background-color: $secondary-bg;

  justify-content: space-between;
  border-top: 1px solid black;
  max-width: 255px;
  padding: 1rem;
  margin-left: auto;
  margin-bottom: 5rem;

  .price-p,
  .total-p {
    color: $primary;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .total-p {
    color: black;
  }
}

@media (min-width: 765px) {
  .checkout-container {
    flex-direction: row;
    align-items: flex-start;

    .payment-card {
      width: 100%;
      border-top: none;
      margin-left: 1rem;
    }
  }
  .cart-wrapper {
    flex-direction: column;

    .product-wrapper {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .left-cart {
        padding-bottom: 0;
        .text-div {
          flex-direction: row;
          align-self: center;

          .price-qty,
          .product-title {
            margin: 1rem;
            p {
              color: $primary;
              font-weight: 700;
              font-size: 1.35rem;
              padding: 0;
            }
          }

          .product-title {
            p {
              color: black;
              font-weight: 500;
            }
          }
        }
      }

      .qty-info {
        margin-right: 1rem;
        width: 20%;
      }
    }
  }
}
