@use "./abstracts/" as *;

.header,
.navbar {
  display: flex;
}

.header {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid $secondary-bg;
  background-color: $background;

  .search-container {
    display: flex;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in, opacity 0.1s;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
      -10px -10px 20px rgba(255, 255, 255, 0.5);
    border: none;
    width: 100%;
    padding: 0.5rem;
    outline: none;

    .searchbar {
      margin-top: 0.2rem;
      border: none;
      background-color: $background;
      width: 100%;
      padding: 0.5rem;
      outline: none;
    }

    .search-btn {
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
    }
  }

  .search-container.active {
    max-height: 20rem;
    transform: scaleX(1);
    opacity: 1;
    transition: max-height 0.3s ease-in, opacity 0.3s ease-out;
  }

  .navbar {
    width: 100%;
    justify-content: space-between;

    .navigation {
      display: flex;
      justify-content: space-between;
      position: relative;

      .anchor-list {
        z-index: 2;
        position: absolute;
        top: 80px;
        left: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $secondary-bg;
        border-radius: 1rem;
        width: 365px;
        transform: scaleY(0);
        transform-origin: top;
        transition: 300ms;
        overflow: hidden;
      }

      .anchor-list.active {
        transition: 200ms ease-in-out;
        transform: scaleY(1);
      }

      @media (min-width: 765px) {
        .anchor-list {
          position: static;
          width: auto;
          border-radius: 0;
          transform: scale(1);
          flex-direction: row;
          box-shadow: none;
          background-color: transparent;
          width: 100%;
        }
      }

      li {
        a {
          padding: 1rem;
          display: block;
          text-decoration: none;
          text-align: center;
          color: black;
          transition: 250ms ease-in-out;
        }

        a:hover {
          color: $accent;
          font-weight: 500;
        }
      }
    }

    .interactions {
      display: flex;
      align-items: center;
      padding: 1rem;

      .cart-icon {
        .parent-btn {
          position: relative;

          .child-btn {
            padding: 0.1rem;
            width: 20px;
            height: 20px;
            background-color: $primary;
            border-radius: 1rem;
            color: $secondary;
            position: absolute;
            top: 50%;
            left: 10%;
            display: none;
          }

          .child-btn.active {
            display: flex;
            justify-content: center;
          }
        }
      }
      li {
        margin-left: 0.5rem;
      }

      button {
        border: none;
        outline: none;
        background-color: inherit;
        cursor: pointer;
      }
    }
  }

  img {
    margin: auto 0;
    width: 85%;
  }
}

@media (min-width: 765px) {
  .menu {
    display: none;
  }
}
