@use "./abstracts/" as *;

.popular-title {
  margin: 3rem 0;
  font-size: 32px;
  font-family: $sourcesans;
  text-align: center;

  span {
    font-family: $sourcesans;
    color: $primary;
  }
}

@media (min-width: 765px) {
  .popular-title {
    text-align: start;
  }
}

a {
  text-decoration: none;
  color: black;
}

.btn-filter {
  margin-top: 2rem;
}

.filter-toggle,
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.filter-toggle {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-out;
  padding: 1rem;
}

.filter-toggle.active {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-out;
  border-radius: 1rem;
  background-color: $secondary-bg;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
                -10px -10px 20px rgba(255, 255, 255, 0.5);
}

.card-container {
  gap: 1rem;
  margin: 3rem 0;

  .product-card {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
                -10px -10px 20px rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    max-width: 210px;
    background-color: $secondary-bg;
    padding: 1rem;
    border-radius: 1rem;

    .product-image {
      border-radius: 10px;
      width: 100%;
    }

    .ratings {
      display: flex;
      padding-top: 0.5rem;

      img {
        width: 10%;
        margin-right: 0.5rem;
      }

      p {
        font-size: 1rem;
        font-weight: 700;
      }
    }

    p {
      margin: 0.5rem 0;
    }

    .price-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        width: auto;
      }

      .btn-cart {
        font-size: 12px;
        padding: 0;
        padding: 0.65rem 0.75rem;
      }

      .price-text {
        color: $primary;
        font-weight: 700;
        font-size: 1.25rem;
      }
    }
  }

  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2),
                -15px -15px 30px rgba(255, 255, 255, 0.8);
    transition: transform .2s ease-in-out;
  }
}
